/* evaluate */
.form-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}
.form-row>.col, .form-row>[class*=col-] {
    padding-right: 5px;
    padding-left: 5px;
}
#evaluate .wrap-evaluate{
    border-top: 1px solid #E6E8EC;
    padding-top: 100px;
}
.evaluate-detail h3.title{
    font-size: 32px;
    color: #383838;
    font-weight: 700;
    line-height: 1.45;
    margin-bottom: 15px;
}
.evaluate-detail .wrap-rating{
    background-color: #FFF;
    border:1px solid #E6E8EC;
    border-radius: 8px;
    padding: 25px;
    padding-bottom: 15px;
}
.evaluate-detail .wrap-rating .number-rate{
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.evaluate-detail .wrap-rating .number-rate .box-rate{
    display: flex;
    align-items: center;
}
.evaluate-detail .wrap-rating .number-rate .box-rate p{
    margin:0;
    font-size: 40px;
    line-height: 1.12;
    color: #F09C42;
    font-weight: 600;
    margin-right: 10px;
}
.evaluate-detail .wrap-rating .number-rate .box-rate .box-icon-rate{
    display: flex;
    align-items: center;
}
.evaluate-detail .wrap-rating .number-rate .box-rate .box-icon-rate i{
    font-size: 28px;
    color: #F09C42;
    margin: 0 2px
}
.evaluate-detail .wrap-rating .number-rate>p{
    font-size: 16px;
    color: #383838;
    font-weight: 300;
    margin-left: 20px;
}
.evaluate-detail .wrap-rating .wrap-list-evalua{
    padding-top: 20px;
    display: flex;
    align-items: center;
}
.wrap-rating .wrap-list-evalua .evalua-display{
    width: 70%;
    min-width: 70%;
}
.wrap-rating .wrap-list-evalua .button-rate{
    width: 30%;
    min-width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.wrap-rating .wrap-list-evalua .button-rate .btn{
    max-width: 220px;
    height: 60px;
    width: 100%;
    background-color: #D46C2E;
    color: #FFF;
}
.wrap-rating .wrap-list-evalua .button-rate .btn:hover{
    background-color: #934111;
}
.wrap-rating .wrap-list-evalua .item{
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
}
.wrap-rating .wrap-list-evalua .item>p{
    min-width: 43px;
    display: flex;
    align-items: center;
}
.wrap-rating .wrap-list-evalua .item>p i{
    margin-left: 5px;
    margin-right: 10px;
    color: #383838;
}
.wrap-rating .wrap-list-evalua .item .percent{
    width: 100%;
    max-width: 410px;
    background: #E2E2E2;
    border-radius: 8px;
    height: 12px;
    margin-right: 35px;
}
.wrap-rating .wrap-list-evalua .item .percent span{
    display: block;
    background: #F09C42;
    border-radius: 8px;
    height: 100%;
    width: 0;
}
.wrap-rating .wrap-list-evalua .item .ratio-display{
    min-width: max-content;
    display: flex;
    font-weight: 300;
}
.wrap-rating .wrap-list-evalua .item .ratio-display span{
    font-weight: 500;
}

.wrap-comment-customer{
    margin-bottom: 60px;
    padding-top: 20px;
}
.wrap-comment-customer .item-customer-comment{
    display: flex;
    align-items: flex-start;
    padding: 30px;
    padding-left: 0;
    border-bottom: 1px solid #E6E8EC;
}
.wrap-comment-customer .item-customer-comment .box-image{
    width: 69px;
    min-width: 69px;
    height: 69px;
    border-radius: 100%;
    overflow: hidden;
    margin-right: 35px;
}
.wrap-comment-customer .item-customer-comment .box-image img{
    width: 100%;
    height: 100%;
}
.item-customer-comment .box-title-customercomment .name{
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}
.item-customer-comment .box-title-customercomment .name>p{
    color: #141416;
    margin: 0;
    font-weight: 500;
    margin-right: 10px;
}
.item-customer-comment .box-title-customercomment .name .box-icon-rate{
    display: flex;
    align-items: center;
}
.item-customer-comment .box-title-customercomment .name .box-icon-rate i{
    color: #F09C42;
}
.item-customer-comment .box-title-customercomment>p.content{
    color: #353945;
    font-size: 16px;
    font-weight: 500;
}
.item-customer-comment .box-title-customercomment .date-comment{
    color: #777E90;
    font-size: 12px;
    font-weight: 600;
    margin-top: 10px;
    text-transform: uppercase;
}
.wrap-form-comment .title-info{
    font-size: 24px;
    color: #383838;
    margin-bottom: 15px;
}
.wrap-form-comment .form-comment-user-blog{
    margin-top: 20px;
    margin-bottom: 20px;
}
.wrap-form-comment .wrap-comment-customer .item-customer-comment{
    border:none
}
.wrap-form-comment .wrap-comment-customer .reply-comment{
    background-color: #F0F0F2;
    padding-left: 25px;
    padding-top: 15px;
    border-radius: 8px;
}
.box-reply{
    align-items: center;
    margin-top: 5px;
}
.box-reply span{
    margin-top: 0!important;
}
.box-reply a{
    font-size: 14px;
    color: #44AAF4;
    margin: 0;
    margin-left: 15px;
}
.item-customer-comment .box-title-customercomment .name .name-addmin{
    background: #D46C2E;
    font-weight: 600;
    font-size: 10px;
    color: #FFF;
    border-radius: 8px;
    width: 95px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-comment-user-blog{
    padding: 20px 30px;
    border:1px solid #E6E8EC;
    border-radius: 8px;
    background-color: #FFF;
    margin-top: 25px;
}
.form-comment-user-blog textarea{
    width: 100%;
    border:none;
    border-bottom: 1px solid #E6E8EC;
}
.form-comment-user-blog textarea::placeholder{
    font-size: 16px;
    color: #A7A7A7;
}

.starrating > input {display: none;}  /* Remove radio buttons */

.starrating > label:before { 
  content: "\f005"; 
  margin: 0.5px;
  font-size: 24px;
  font-family: "Font Awesome 5 pro";
  display: inline-block; 
}

.starrating > label
{
  color: #000;
  cursor: pointer;
}

.starrating > input:checked ~ label:before
{
     color: #ffca08 ; 
}

.starrating > input:hover ~ label
{ 
    color: #ffca08 ;  
} 

.starrating{
    align-items: flex-end;
}
.wrap-form-comment .form-comment-user-blog button{
    height: 38px;
    border-radius: 4px;
    border: 1px solid #D46C2E;
    background-color: #D46C2E;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.wrap-form-comment .form-comment-user-blog button:hover{
    background-color: #71330e;
}
.wrap-form-comment .form-comment-user-blog .for-input.form-row{
    align-items: flex-end;
}