@media (min-width: 1200px) {
    /* .container{
        max-width: 1356px;
    } */
}
@media (max-width: 1400px) {
    #contact .wrap-form-contact {
        padding: 45px 20px 125px calc((100% - 1116px) / 2);
    }
    
}
@media (max-width: 1200px) {
    .container{
        max-width: 100%;
    }
    #wrap-slider-main .carousel-inner .carousel-item .carousel-caption .title {
        font-size: 50px;
        line-height: calc(52 / 50);
    }
    #content-about-main .title-section.main {
        margin-bottom: 45px;
        font-size: 32px;
    }
    #content-about-main .content-top .item-left {
        padding-right: 50px;
    }
    #content-about-main .item-right {
        padding-left: 50px;
    }
    #content-about-main .content-last .item-left .box-title {
        margin-bottom: 35px;
    }
    .title-section {
        font-size: 28px;
    }
    .wrap-slider-type-product {
        margin-inline: 0;
    }
    .slick-arrow.slick-prev {
        left: 0;
    }
    .slick-arrow.slick-next {
        right: 0;
    }
    #contact .wrap-form-contact {
        padding: 40px 40px 100px 40px;
    }
    #contact .wrap-form-contact .wrap-contact .text-form {
        margin-bottom: 60px;
    }
}
@media (max-width: 1024px) {
    .container{
        max-width: 100%;
        padding-inline: 20px;
    }
    .box-content-banner-2 .wrap-table{
        overflow-x: scroll;
        margin-bottom: 40px;
    }
    .box-content-banner-2 .wrap-table .table {
        table-layout: auto;
        
    }
    .box-content-banner-2 .wrap-table tr td:first-child{
        font-size: 14px;
        min-width: 160px;
    }
    .box-content-banner-2 .wrap-table th{
        min-width: max-content;
        white-space: pre;
    }
}
@media (max-width: 1366px) {
    #register .form-main{
        padding-left: 20px;
    }
    #wrap-detail-thumbnail .wrap-slider-detail {
        padding-right: 45px;
    }
    .slider__col {
        flex: 0 0 calc(172px);
        max-width: 172px;
        width: 172px;
        min-width: 172px;
    }
    .slider__thumbs {
        height: 528px;
    }
}
@media (max-width: 1080px) {
    #wrap-detail-thumbnail .wrap-slider-detail {
        padding-right: 30px;
    }
    #wrap-detail-thumbnail .wrap-slider-detail .slider-control {
        flex: 0 0 170px;
        max-width: 170px;
    }
}
@media (max-width: 1024px) {
    .box-catalog{
        display: none;
    }
    .wrap-header-main .wrap-header-right .box-bg-menu-mobile {
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
    }
    #wrap-slider-main .box-control {
        padding-top: 40px;
    }
    .title-section {
        font-size: 24px;
        line-height: 1;
    }
    #building-top .swiper-slide .name-item {
        bottom: 18px;
        left: 18px;
        right: 18px;
        font-size: 14px;
    }
    #custommer,
    #building-top {
        padding-bottom: 80px;
    }
    #custommer:not(.section-or) .wrap-customer {
        flex-wrap: nowrap;
        column-gap: 40px;
        overflow-x: scroll;
    }
      
      /* Track */
      ::-webkit-scrollbar-track {
        background: transparent; 
      }
       
      /* Handle */
      #custommer:not(.section-or) .wrap-customer::-webkit-scrollbar-thumb {
        background: #888; 
      }
    #custommer .title-section {
        padding-bottom: 40px;
    }
    .wrap-slider-component {
        padding-left: 20px;
        padding-bottom: 60px;
    }
    #about-us .bg-about {
        position: relative;
        right: unset;
        top: unset;
        max-width: 100%;
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    #about-us .box-content {
        padding: 60px 0 50px;
    }
    #about-us .box-content .title-section {
        padding-bottom: 30px;
    }
    #about-us .img-chu-ky{
        padding-bottom: 10px;
    }
    #about-us .img-child-about {
        height: auto;
        position: absolute;
        padding-bottom: 28px;
        bottom: 0;
        right: 23px;
    }
    #about-us .img-child-about {
        height: auto;
        position: absolute;
        z-index: 1;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        padding-bottom: 28px;
        bottom: 0;
        right: 23px;
    }
    #why-choose,
    #custommer-about{
        padding: 60px 0 80px;
    }
    #custommer-about .title-section {
        padding-bottom: 32px;
    }
    #custommer-about .item {
        flex-direction: column;
        gap: 20px;
    }
    #custommer-about:not(.about) .item .box-image {
        width: 100%;
        flex: 0 0 101px;
        max-width: 101px;
    }
    #custommer-about .item .box-content .list-rate {
        margin-bottom: 10px;
    }
    #custommer-about .item .name{
        margin-top: 20px;
    }
    #custommer-about .owl-theme .owl-nav {
        margin-top: 30px;
    }
    #custommer.section-or .wrap-customer {
        /* flex-wrap: wrap; */
        margin-inline: -5px;
    }
    #custommer.section-or .wrap-customer .item{
        /* flex: 0 0 auto;
        width: 50%;
        max-width: 100%; */
        padding-inline: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: auto;
    }
    #custommer.section-or .wrap-customer .item img{
        width: auto;
        max-width: 100%;
        height: auto;
    }
    #why-choose .title-section {
        width: 100%;
        max-width: 230px;
    }
    .box-video-action .icon-play{
        width: 31px;
        height: 31px;
    }
    #why-choose .box-list-rate {
        margin-top: 30px;
        flex-wrap: wrap;
        row-gap: 20px;
    }
    .box-list-rate .item {
        flex: 0 0 calc(50% - 10px);
        max-width: calc(50% - 10px);
    }
    .box-list-rate .item .number {
        font-size: 36px;
    }
    .box-list-rate .item p {
        font-size: 14px;
    }
    #showroom{
        padding-bottom: 80px;
    }
    #showroom .title-section{
        width: 100%;
        max-width: 250px;
        line-height: 1.2;
    }
    #showroom.page-showroom-main{
        overflow: hidden;
    }
    #showroom.page-showroom-main .title-section {
        max-width: 100%;
    }
    #showroom.page-showroom-main .box-bg-item {
        right: -25%;
        top: 30px;
    }
    #showroom .box-title {
        padding-bottom: 30px;
    }
    #showroom .owl-theme .owl-dots {
        margin-top: 30px;
    }
    #showroom .box-text-showroom {
        font-size: 20px;
    }
    #showroom .box-text-showroom img {
        margin-top: 20px;
    }
    #register .form-main .title {
        font-size: 26px;
        margin-bottom: 45px;
    }
    #wrap-slider-main .box-slider .img-1 .item-content{
        display: none;
    }

    #wrap-slider-main .item .carousel-caption .title {
        font-size: 45px;
    }
    footer#footer .container {
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 40px;
    }
    footer#footer .container .item-footer:nth-child(2){
        flex: 0 0 calc(100%);
        max-width: calc(100% );
    }
    footer#footer .container .item-footer:nth-child(3),
    footer#footer .container .item-footer:nth-child(4),
    footer#footer .container .item-footer:nth-child(5){
        flex: 0 0 30%;
        max-width: 30%;
    }
    footer#footer .footer-main {
        padding-bottom: 40px;
    }
    footer#footer .footer-fixed .container{
        flex-direction: column-reverse;
        gap: 18px;
    }
    #why-choose.bg-pink .title-section {
        width: 100%;
        max-width: 100%;
    }
    #why-choose.bg-pink, #custommer-about.pt-0 {
        padding: 48px 0 80px;
    }
    #why-choose .title-section {
        padding-bottom: 30px;
    }
    .list-why{
        gap: 30px;
        margin-bottom: 48px;
    }
    .list-why .item .box-image{
        width: 95px;
        min-width: 95px;
        margin-right: 25px;
    }
    #banner-product {
        padding-block: 60px;
    }
    .list-product-item, .showroom-page {
        padding-top: 60px;
    }
    #news{
        padding-bottom: 80px;
    }
    #news .wrap-pagination {
        padding-top: 40px;
    }
    .item-new .box-content {
        padding-top: 10px;
    }
    .item-new .box-content .title {
        font-size: 18px;
        margin-bottom: 0;
    }
    #wrap-new-detail .container{
        display: block;
    }
    #wrap-new-detail .container .content-side-right,
    #wrap-new-detail .container .content-main-detail {
        flex: unset;
        max-width: 100%;
    }
    #wrap-new-detail .container .content-side-right{
        padding-top: 40px;
    }
    #wrap-new-detail {
        padding: 60px 0 40px;
    }
    .content-main-detail .title-page-detail {
        font-size: 28px;
        margin-bottom: 20px;
    }
    .content-main-detail .box-author-new {
        margin-bottom: 20px;
    }
    .content-main-detail .content-main :not(#info-author *) {
        margin-bottom: 10px;
    }
    .content-main-detail .content-main {
        padding-bottom: 60px;
    }
    .content-main-detail .info-autho .box-rate-social {
        margin-bottom: 40px;
    }
    .content-main-detail .info-autho {
        padding: 20px 0 40px;
    }
    .content-main-detail #info-author .box-author .content-main .box-image {
        width: 118px;
        min-width: 118px;
        height: 118px;
    }
    .content-main-detail #info-author .box-author .content-main .content-author .name {
        font-size: 24px;
    }
    .content-main-detail #info-author .box-author .content-main {
        align-items: center;
    }
    #info-author:not(.info-page) .content-main .content-author .des-author{
        display: none;
    }
    .content-main-detail #info-author .box-author{
        display: block;
    }
    #info-author .box-author>.des-author{
        display: block;
        margin-top: 20px;
    }
    #wrap-new-detail .container .content-side-right .list-blog-new{
        flex-wrap: wrap;
        flex-direction: row;
        column-gap: unset;
        row-gap: 30px;
    }
    
    #wrap-new-detail .container .content-side-right .list-blog-new .item{
        flex: 0 0 auto;
        width: 50%;
        max-width: 50%;
        display: block;
        padding-inline: 8px;
    }
    #wrap-new-detail .container .content-side-right .list-blog-new .item .box-image {
        width: 100%;
    }
    #wrap-new-detail .container .content-side-right .list-blog-new .item .content{
        font-size: 18px;
        line-height: calc(27 / 18);
        font-weight: 700;
        margin-top: 10px;
    }
    #wrap-new-detail .container .content-side-right .title-section {
        font-size: 24px;
        line-height: 1;

    }
    #contact{
        display: block;
    }
    #contact .wrap-form-contact{
        flex: unset;
        max-width: 100%;
    }
    #contact .wrap-form-contact .wrap-contact{
        max-width: 100%;
    }
    #contact .maps {
        flex: unset;
        max-width: 100%;
    }
    #contact .maps iframe{
        height: 400px;
    }
    #breadcrum-author {
        padding-top: 36px;
        margin-bottom: 20px;
    }
    #info-author .box-author{
        display: block;
    }
    #info-author .infor-new {
        margin-top: 52px;
        border-left: none;
        padding-left: 0;
        padding-right: 0;
        flex-direction: unset;
        gap: 24px;
    }
    .evaluate-detail h3.title{
        font-size: 26px;
    }
    .evaluate-detail .wrap-rating .number-rate .box-rate p {
        font-size: 36px;
    }
    .wrap-comment-customer .item-customer-comment{
        padding: 20px 20px 20px 0;
    }
    .wrap-comment-customer .item-customer-comment .box-image {
        margin-right: 24px;
    }
    .starrating{
        flex: unset;
        max-width: 100%;
        width: 100%;
        margin-bottom: 20px;
        padding-left: 0;
    }
    .evaluate-detail .wrap-rating .wrap-list-evalua{
        flex-direction: column;
    }
    .wrap-rating .wrap-list-evalua .evalua-display {
        width: 100%;
        min-width: 100%;
    }
    .wrap-rating .wrap-list-evalua .button-rate {
        width: auto;
        min-width: max-content;
    }
    /*  */
    #why-choose{
        overflow: hidden;
    }
    #why-choose .box-image.resize-bg-why{
        margin-inline: -20px;
    }
    #wrap-slider-main .box-slider .img-1{
        left: auto;
        right: -95px;
    }
    #wrap-slider-main .box-slider .img-2 {
        right: auto;
        top: -35px;
        transform: unset;
        left: -250px;
    }
    .item-product .box-image .box-hover{
        z-index: 10;
        opacity: 1;
        top: 0;
        left: 0;
        transform: unset;
        visibility: visible;
        width: 100%;
        height: 100%;
        color: transparent;
    }
    .item-product .box-image .box-hover img{
        display: none;
    }
    .item-product .box-image::before{
        display: none;
    }
}
@media (max-width: 991px) {
    #content-about-main .content-top .item-left {
        padding-right: 12px;
    }
    #content-about-main .item-right {
        padding-left: 12px;
    }
    #content-about-main .title-section.main {
        font-size: 24px;
        margin-bottom: 36px;
    }
    #content-about-main{
        padding-top: 40px;
    }
    #content-about-main .thumbnail-banner{
        padding-left: 0;
        margin-bottom: 65px;
        text-align: center;
    }
    #content-about-main .thumbnail-banner img{
        width: 100%;
        max-width: 236px;
        margin: 0 auto;
    }
    #content-about-main .content-top .item-right .box-image {
        margin-bottom: 20px;
    }
    #wrap-detail-thumbnail .wrap-slider-detail .slider-control {
        flex: 0 0 230px;
        max-width: 230px;
    }
    .wrap-video-youtube iframe{
        width: 100%;
    }
    #video-youtube.modal-video .modal-dialog {
        margin: 0;
    }
}
@media (max-width: 768px) {
    #register{
        display: block;
        padding-top: 63px;
    }
    #register .form-main {
        max-width: 100%;
        padding-right: 20px;
        padding-bottom: 90px;
    }
    #register .form-main .form-group{
        max-width: 100%;
    }
    #register .form-main .title {
        font-size: 24px;
        margin-bottom: 55px;
    }
    #register .box-image {
        max-width: 100%;
    }
    #wrap-slider-main .item .carousel-caption .title {
        font-size: 40px;
        line-height: calc(46 / 40);
    }
    footer#footer .footer-fixed .container{
        justify-content: flex-start;
        align-items: flex-start;
    }
    footer#footer .footer-fixed .list{
        flex-wrap: wrap;
    }
    footer#footer .footer-fixed .list a{
        padding-left: 0;
        margin-right: 20px;
    }
    footer#footer{
        padding-top: 48px;
    }
    footer#footer .footer-main{
        padding-bottom: 30px;
    }
    footer#footer .container .item-footer:nth-child(3), footer#footer .container .item-footer:nth-child(4), footer#footer .container .item-footer:nth-child(5) {
        flex: auto;
        max-width: max-content;
    }
    footer#footer .box-address .list-social-footer {
        margin-top: 20px;
    }
    footer#footer .box-address {
        flex: 0 0 auto;
        max-width: 100%;
    }
    #content-about-main .content-top {
        padding-bottom: 35px;
    }
    #content-about-main .content-last .item-left{
        padding-right: 12px;
    }
    #content-about-main .content-last .item-left .box-title {
        margin-bottom: 32px;
        flex-direction: column;
        gap: 7px;
    }
    #content-about-main .content-last .item-left .box-title .title-section{
        line-height: calc(28 / 24);
    }
    #content-about-main .content-last .item-right{
        padding-inline: 0;
    }
    #content-about-main .content-last .item-right .box-image{
        width: 100%;
    }
    #content-about-main .content-last .item-right .box-image img{
        width: 100%;
    }
    .list-why .item .box-image{
        width: 69px;
        min-width: 69px;
        margin-right: 19px;
    }
    #banner-about .wrap-content-banner .title-banner {
        font-size: 24px;
        line-height: calc(28 / 24);
    }
    #showroom {
        padding-top: 52px;
        padding-bottom: 45px;
    }
    #showroom.page-showroom-main {
        padding-top: 40px;
        padding-bottom: 80px;
    }
    #showroom.page-showroom-main .title-section {
        width: 100%;
        max-width: 100%;
        margin-bottom: 72px;
    }
    #register .box-image-bg {
        bottom: auto;
        left: auto;
        transform: unset;
        top: 50%;
        transform: translateY(-50%);
        right: -35%;
    }
    #banner-main .content-banner .title-banner {
        font-size: 24px;
        line-height: calc(28 / 24);
    }
    #banner-main .content-banner .breadcrumb{
        margin-top: 3px;
    }
    .breadcrumb .breadcrumb-item,
    .breadcrumb .breadcrumb-item * {
        font-size: 12px;
    }
    #banner-product {
        padding-block: 40px;
    }
    #banner-product .box-content .content {
        margin-top: 20px;
    }
    #banner-product .box-content-banner .box-image.resize-banner-product-1{
        margin-top: 33px;
    }
    #product-list .list-product{
        margin-inline: -8px;
    }
    #product-list .list-product [class*="col-"]{
        padding-inline: 8px;
        margin-bottom: 30px;
    }
    .item-product .box-image{
        padding: 23px;
    }
    .box-content-banner-2 .box-image {
        margin-bottom: 23px;
    }
    .wrap-slider-type-product .slider-product-type{
        display: none;
    }

    .wrap-slider-type-product .slider-banner-product-mobile{
        display: block;
        padding-bottom: 50px;
    }
    .wrap-slider-type-product .slider-banner-product-mobile .owl-nav{
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-inline: 20px;
    }
    #custommer-about.about .owl-theme .owl-nav{
        margin-top: 40px;
    }
    .wrap-slider-type-product .slider-banner-product-mobile .owl-nav [class*=owl-]{
        margin: 0;
    }
    .wrap-slider-type-product .slider-banner-product-mobile .owl-nav [class*=owl-]:hover{
        background-color: transparent;
    }
    .wrap-slider-type-product .slider-banner-product-mobile .owl-nav svg rect,
    .wrap-slider-type-product .slider-banner-product-mobile .owl-nav svg path{
        stroke: #2E2F2A;
    }
    .wrap-slider-type-product .slider-banner-product-mobile .owl-nav [class*=owl-]:not(.disabled):hover svg rect,
    .wrap-slider-type-product .slider-banner-product-mobile .owl-nav [class*=owl-]:not(.disabled):hover svg path{
        stroke: var(--color-main);
    }
    .wrap-slider-type-product .slider-banner-product-mobile .owl-dots{
        margin-top: -28px;
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }
    .wrap-slider-type-product .slider-banner-product-mobile  .item .box-image{
        margin-bottom: 0;
    }
    .wrap-slider-type-product {
        margin-inline: -20px;
    }
    #wrap-new-detail {
        padding: 30px 0 20px;
    }
    #contact .wrap-form-contact {
        padding: 46px 20px 40px;
    }
    #contact .wrap-form-contact .wrap-contact .text-form {
        font-size: 24px;
        line-height: calc(28 / 24);
        margin-top: 10px;
        margin-bottom: 40px;
    }
    #info-author.info-page{
        padding-bottom: 80px;
    }
    #info-author.info-page .box-author {
        padding: 37px 18px 30px;
    }
    #info-author.info-page .box-author .content-main {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    #info-author.info-page .box-author .content-main .box-image{
        margin: 0;
    }
    #info-author.info-page  .content-main .content-author{
        padding-right: 0;
    }
    #info-author .content-main .content-author .name {
        font-size: 24px;
        line-height: calc(28 / 24);
        padding-top: 0;
    }
    .list-new-author .title-section {
        margin-bottom: 30px;
    }
    #news.list-new-author .list [class*="col"] {
        margin-bottom: 30px;
    }
    #wrap-detail-thumbnail .wrap-slider-detail{
        display: none;
    }
    .wrap-slider-product.is-mobile{
        display: block;
        margin-bottom: 40px;
    }
    .wrap-slider-product.is-mobile .item{
        width: 100%;
        padding: 35px;
        background-color: #FFF;
    }
    .wrap-slider-product.is-mobile .item .box-image{
        background-size: contain;
    }
    .wrap-slider-product.is-mobile .owl-theme .owl-dots{
        position: absolute;
        bottom: 24px;
        left: 0;
        width: 100%;
    }
    #wrap-detail-thumbnail{
        padding: 20px 0 80px;
    }
    #wrap-detail-thumbnail .box-detail-thumbnail .name-product{
        margin-bottom: 10px;
    }
    .number-product-chossee {
        padding: 30px 0 40px;
    }
    #news.wrap-detail-product-tab .nav-item .nav-link {
        font-size: 20px;
    }
    #news.wrap-detail-product-tab{
        padding-top: 0;
        padding-bottom: 0;
    }
    .wrap-content-detail-product{
        display: block;
    }
    .wrap-content-detail-product .right,
    .wrap-content-detail-product .left {
        flex: unset;
        max-width: 100%;
        min-width: auto;
    }
    #building-project {
        padding: 0 0 80px;
    }
    #building-project .box-grilary{
        display: none;
    }
    #slider-grimary-mobile{
        display: block;
    }
    #slider-grimary-mobile.owl-theme .owl-dots{
        margin-top: 40px;
    }
    .wrap-form-comment .form-comment-user-blog .form-group{
        flex: unset;
        max-width: 100%;
        width: 100%;
        margin-bottom: 12px;
        padding: 0;
    }
    #modalEvalua .modal-dialog {
        max-width: calc(100% - 30px);
        margin: 0 auto;
    }
}
@media (max-width: 540px) {
    #wrap-slider-main .item .box-image img:not(.mobile){
        display: none;
    }
    #wrap-slider-main .item .box-image img.mobile{
        display: block;
    }
    #wrap-slider-main .item .carousel-caption {
        justify-content: space-between;
    }
    #wrap-slider-main .item .carousel-caption .title {
        position: relative;
        top: unset;
        transform: unset;
        padding-top: 45px;
    }
    #wrap-slider-main{
        padding-top: 40px;
        padding-bottom: 80px;
    }
    #showroom.showroom-page .box-title .link-more,
    #slider-product .box-title .link-more{
        display: none;
    }
    .wrap-slider-component{
        display: none;
    }
    .is-mobile{
        display: block;
    }
    .list-product-mobile {
        padding-bottom: 60px;
    }
    .list-product-mobile .row{
        margin-inline: -8px;
        row-gap: 30px;
    }
    .list-product-mobile .row [class*="col-"]{
        padding-inline: 8px;
    }
    .list-product-mobile .box-more{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 40px;
    }
    #slider-product {
        padding: 64px 0 0;
    }
    .box-more.is-mobile{
        display: flex;
        padding-top: 40px;
    }
    .list-product-item, .showroom-page {
        padding-top: 40px;
    }
    .content-main-detail .title-page-detail {
        font-size: 24px;
    }
    #wrap-new-detail .container .content-side-right .list-blog-new .item .content{
        -webkit-line-clamp: 2
    }
    #wrap-new-detail .container .content-side-right .list-blog-new.product .item .content{
        font-size: 16px;
        line-height: calc(20 / 16);
        font-weight: 500;
        margin-top: 10px;
    }
    #wrap-new-detail .container .content-side-right .list-blog-new:not(.product) .item{
        flex: auto;
        max-width: 100%;
        width: 100%;
        padding-inline: 0;
    }
    #showroom.page-showroom-main .box-bg-item {
        right: -45%;
        top: 50px;
    }
    #showroom.page-showroom-main .box-text-showroom{
        margin-top: 30px;
    }
    #showroom.page-showroom-main .box-text-showroom img{
        margin-top: 30px;
    }
    .showroom-page .list-bimary {
        margin-top: 40px;
        margin-inline: -8px;
    }
    .showroom-page .list-bimary [class*="col"] {
        padding-inline: 8px;
        margin-bottom: 16px;
    }
    .showroom-page .list-bimary [class*="col"] .box-image{
        min-height: 229px;
    }
    .number-product-chossee{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .evaluate-detail .wrap-rating .number-rate{
        flex-direction: column;
        gap: 10px;
    }
    .wrap-rating .wrap-list-evalua .item .percent {
        margin-right: 10px;
    }
    .wrap-comment-customer .item-customer-comment .box-image {
        width: 50px;
        min-width: 50px;
        height: 50px;
        margin-right: 20px;
    }
    #wrap-slider-main .item .box-image img{
        aspect-ratio: 335 / 467;
    }
    #wrap-slider-main .box-slider .img-1{
        bottom: 95px;
    }

}