*:not([class*="fa"]){
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
:root{
    --bg-drak: #2E2F2A;
    --color-main: #AB6520
}
a:not(.item):focus,
a:not(.item):focus-visible,
input,
input:focus,
button,
button:focus,
select,
select:focus,
select:focus-visible,
textarea,
textarea:focus,
textarea:focus-visible {
    box-shadow: none !important;
    /* border: none; */
    outline: none;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}
.border-0{
    border: none!important;
}
* {
    margin: 0px;
    padding: 0px;
}

body{
    font-size: 14px;
    color: #101010;
    background-color: #F5EDE7;
}
*,
::before,
::after {
    box-sizing: border-box;
}

p {
    margin-bottom: 0px;
}

a {
    text-decoration: unset;
    transition: all 0.4s ease 0s;
    display: inline-block;
}

a:hover {
    text-decoration: none;
    transition: all 0.4s ease 0s;
}

a:hover * {
    transition: all 0.4s ease 0s;
}


ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}
.btn {
    transition: all .4s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: max-content;
}
.box-image{
    overflow: hidden;
    transition: all .4s;
}
.box-image img{
    width: 100%;
    height: 100%;
    transition: all .4s;
}
.box-image:not(.not-scale):hover img{
    transform: scale(1.3);
}
.bg-dark{
    background-color: var(--bg-drak)!important;
}
.bg-pink{
    background-color: #F5EDE7;
}
.box-title,
.box-title>.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.box-title .link-more{
    color: var(--color-main);
    display: inline-flex;
    align-items: center;
    gap: 5px;
    transition: all .3s;
}
.link-more{
    color: var(--color-main);
    display: inline-flex;
    align-items: center;
    gap: 5px;
    transition: all .3s;
}
/* HEADER */
header#header{
    background-color: var(--bg-drak);
    padding-block: 19px;
    position: relative;
    z-index: 100;
    transition: all .5s;
}
header#header .logo{
    min-width: max-content;
}
/* HEADER */
/* menu main */
/* menu main */
/* menu main */
.wrap-header-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .4s;
}
.wrap-header-main .logo{
    transition: all .3s;
    line-height: 0;
}

.wrap-header-main .wrap-header-right {
    display: flex;
    align-items: center;
}
.wrap-header-main .wrap-header-right .box-bg-menu-mobile{
    display: none;
}
.wrap-header-main .wrap-header-right nav#nav ul {
    display: flex;
    align-items: center;
}

.wrap-header-main .wrap-header-right nav#nav ul li a {
    text-transform: uppercase;
    padding: 15px 20px;
    color: #FFFAF3;
    transition: all .3s;
}

.wrap-header-main .wrap-header-right nav#nav ul li.active a,
.wrap-header-main .wrap-header-right nav#nav ul li a:hover {
    color: var(--color-main);
}

.wrap-header-main .wrap-header-right nav#nav ul.menu li{
    position: relative;
}
.wrap-header-main .wrap-header-right nav#nav ul.menu li .icon-arrow-menu{
    font-size: 20px;
    position: absolute;
    top: 12px;
    right: 7px;
    line-height: 1.2;
}
.wrap-header-main .wrap-header-right nav#nav ul.menu li.item-menu>.icon-arrow-menu i{
    color: #FFFAF3;
}
.wrap-header-main .wrap-header-right nav#nav ul.menu li.item-menu.active a ~ .icon-arrow-menu i,
.wrap-header-main .wrap-header-right nav#nav ul.menu li.item-menu a:hover ~ .icon-arrow-menu i{
    color: var(--color-main);
}
.wrap-header-main .wrap-header-right nav#nav ul.menu li .icon-arrow-menu i{
    font-size: 14px;
}
.wrap-header-main .wrap-header-right nav#nav ul.menu-child{
    position: absolute;
    top:100%;
    left: 0;
    min-width: 250px;
    display: block;
    background: var(--color-main);
    border-radius: 4px;
    border:none;
    transition: all .3s;
    transform: translateY(30px);
    opacity: 0;
    visibility: hidden;
    z-index: 10;
}
.wrap-header-main .wrap-header-right nav#nav ul.menu-child li:not(:last-child){
    border-bottom:1px solid #e1dede78;
}
.wrap-header-main .wrap-header-right nav#nav ul.menu-child li a{
    color:#FFF;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    font-family: var(--font-600);
}
.wrap-header-main .wrap-header-right nav#nav ul.menu-child .menu-child{
    left: 100%;
    top: 0;
}
.wrap-header-main .wrap-header-right nav#nav .item-menu:nth-last-child(2) ul.menu-child .menu-child{
    left: auto;
    right: 100%;
}

.wrap-header-main .wrap-header-right nav#nav ul.menu-child li .icon-arrow-menu{
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrap-header-main .wrap-header-right nav#nav ul.menu-child li .icon-arrow-menu i{
    color: var(--color-main);
}
.wrap-header-main .wrap-header-right nav#nav li:hover>ul.menu-child{
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    transition: all .3s;
}


/* menu main */
/* menu main */
/* cart header */
.wrap-header-main .wrap-header-right .wrap-action {
    margin-left: 30px;
    position: relative;
    transition: all .3s;
    display: flex;
    align-items: center;
}

.wrap-header-main .wrap-header-right .wrap-action .item {
    position: relative;
    background-color: transparent;
    border: none;
    padding: 2px 10px;
    
}
.wrap-header-main .wrap-header-right .wrap-action .item.icon-cart{
    padding-right: 2px;
}
.wrap-header-main .wrap-header-right .wrap-action .item.icon-toggle-menu{display: none;}
/* cart header */

/* reseponsive header menu  */
@media (max-width:1024px) {
    /* icon toggle menu  */
    header#header .wrap-action .i,
    header#header .wrap-action .icon-toggle-menu{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        border: none;
        margin-left: 28px;
        position: relative;
    }
    header#header .wrap-action .icon-toggle-menu{
        width: 16px;
        height: 16px;
    }
    header#header .wrap-action .icon-toggle-menu span{
        display: block;
        width: 16px;
        height: 2px;
        background-color: #FFF;
        transition: all .3s;
        margin-left: 0;
        position: absolute;
    }
    header#header .wrap-action .icon-toggle-menu span:before,
    header#header .wrap-action .icon-toggle-menu span:after{
        content: "";
        width: 100%;
        position: absolute;
        height: 2px;
        background-color: #fff;
        left: 0;
        transition: all .3s;
        border-radius: 2px;
    }
    header#header .wrap-action .icon-toggle-menu span:before{
        top: -5px;
    }
    header#header .wrap-action .icon-toggle-menu span:after{
        width: 9px;
        left: auto;
        right: 0;
        bottom: -5px;
    }
    header#header .wrap-action .icon-toggle-menu .wrap-icon-toggle.active span{
        background-color: transparent;
        transition: all .3s;
    }
    header#header .wrap-action .icon-toggle-menu .wrap-icon-toggle.active span:before{
        transform: rotate(45deg);
        top: 12px;
        transition: all .3s;
    }
    header#header .wrap-action .icon-toggle-menu .wrap-icon-toggle.active span:after{
        transform: rotate(-45deg);
        bottom: 11px;
        transition: all .3s;
    }


    /* icon toggle menu  */
    /* menu  */
    .wrap-header-main .wrap-header-right nav#nav{
        position: fixed;
        left: 0;
        top: 105px;
        height: calc(100dvh - 105px);
        width: 300px;
        background-color: #2E2F2A;
        z-index: 9;
        transition: all .3s;
        transform: translateX(-300px);
    }
    .wrap-header-main .wrap-header-right nav#nav ul{
        flex-direction: column;
        padding-top: 50px;
        align-items: flex-start;
        padding-left: 10px;
        padding-right: 10px;
    }
    .wrap-header-main .wrap-header-right nav#nav .menu{
        background-color: #2E2F2A;
        padding-left: 20px;
        position: relative;
        z-index: 2;
    }
    .wrap-header-main .wrap-header-right nav#nav>ul{
        height: 100%;
        overflow: hidden;
        overflow-y: scroll;
        padding-bottom: 80px;
    }
    .wrap-header-main .wrap-header-right nav#nav .item-menu:nth-last-child(2) ul.menu-child .menu-child {
        left: 0;
        right: auto;
    }
    .wrap-header-main .wrap-header-right nav#nav ul li{
        width: 100%;
        border-bottom: 1px solid var(--color-main);
    }
    .wrap-header-main .wrap-header-right nav#nav ul li ul ul li a{
        font-size: 13px;
    }
    header#header a {
        color: var(--color-main);
    }
    .wrap-header-main .wrap-header-right nav#nav.active{
        transform: translateX(0);
    }
    header#header.active-menu .logo,
        header#header.active-menu .wrap-header-main .wrap-header-right .wrap-cart{
        transform: translateX(300px);
        transition: all .3s;
    }
    main#main.active-menu,
    footer#footer.active-menu{
        transform: translateX(300px);
        transition: all .3s;
    }
    body.overlay{
        position: relative;
        overflow: hidden;
    }
    body.overlay:before{
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        top: 0;
        height: 100%;
        background-color: #0000008a;
        z-index: 9;
    }
    .wrap-header-main .wrap-header-right nav#nav ul.menu-child {
        position: relative;
        top: unset;
        left: 0;
        min-width: auto;
        background: transparent;
        border: none;
        transform: unset;
        opacity: 1;
        visibility: visible;
        padding-block: 0;
        border-top: 1px solid #E1DEDE;
        border-radius: 0;
        transition: unset;
        display: none;
    }
    .wrap-header-main .wrap-header-right nav#nav ul.menu-child .menu-child {
        left: 0;
        top: 0;
        padding: 0;
        border-top: 1px solid #E1DEDE;
        border-radius: 0;
    }
    .wrap-header-main .wrap-header-right nav#nav ul.menu li .icon-arrow-menu {
        top: 0;
        right: 0;
        width: 50px;
        height: 53px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /* end menu  */
}

/* reseponsive header menu  */

.title-section{
    font-size: 32px;
    line-height: calc(62.5 / 32);
    font-weight: 600;
    color: var(--color-main);
    text-transform: uppercase;
}

.carousel .carousel-indicators{
    gap: 10px;
}
.carousel .carousel-indicators button{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin: 0;
    opacity: 1;
    text-indent: unset;
    border: none;
    flex: unset;
    background-clip: unset;
    padding: 0;
    background-color: #656663;
}
.carousel .carousel-indicators button.active{
    background-color: var(--color-main);
}


/* wrap-slider-main */
#wrap-slider-main{
    padding: 46px 0 68px;
}
#wrap-slider-main .box-slider{
    position: relative;
}
#wrap-slider-main .box-slider .box-image:hover img{
    transform: unset;
}
#wrap-slider-main .box-slider .img-1{
    position: absolute;
    left: 0;
    bottom: 15px;
}
#wrap-slider-main .box-slider .img-1 .item-content{
    width: 100%;
    max-width: calc((1320px - 872px) / 2);
    margin-bottom: 56px;
}
#wrap-slider-main .box-slider .img-1 .item-content .address{
    font-weight: 400;
    font-size: 16px;
    line-height: calc(18 / 16);
    color: #AB6520;
    margin-bottom: 9px;
    text-transform: uppercase;
}
#wrap-slider-main .box-slider .img-1 .item-content .date{
    font-size: 14px;
    line-height: calc(21 / 14);
    font-weight: 400;
    color: #AB6520;
}
#wrap-slider-main .box-slider .img-1 .box-img{
    margin-left: -20px;
}
#wrap-slider-main .box-slider .img-2{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
#wrap-slider-main .owl-carousel{
    width: 100%;
    max-width: 872px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 4px;
    z-index: 2;
}
#wrap-slider-main .item .box-image img.mobile{display: none;}
#wrap-slider-main .item .box-image img{
    aspect-ratio: 872 / 625;
}
#wrap-slider-main .item .carousel-caption{
    padding: 0;
    top: 10%;
    bottom: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
#wrap-slider-main .item .carousel-caption .title{
    color: #FFFAF3;
    font-size: 60px;
    font-weight: 700;
    line-height: calc(62 / 60);
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
#wrap-slider-main .item .carousel-caption .btn-link{
    border: 1px solid #EFE4DE;
    border-radius: 4px;
    height: 45px;
    width: 100%;
    max-width: 200px;
    color: #FFFAF3;
    text-decoration: unset;
    text-transform: uppercase;
    padding-top: 8px;
}
#wrap-slider-main .item .carousel-caption .btn-link:hover{
    border-color: var(--color-main);
    color: var(--color-main);
}
#wrap-slider-main .item .box-image img.mobile{
    display: none;
}
#wrap-slider-main .owl-carousel .owl-nav {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
}
#wrap-slider-main .owl-carousel .owl-nav button.owl-next, 
#wrap-slider-main .owl-carousel .owl-nav button.owl-prev{
    position: relative;
}
#wrap-slider-main .owl-theme .owl-dots .owl-dot{
    margin-top: -45px;
}
#wrap-slider-main .box-control{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 52px;
}
#wrap-slider-main .box-control [class*="carousel-control-"]{
    position: relative;
    width: 40px;
    height: 40px;
    opacity: 1;
}
#wrap-slider-main .box-control .carousel-indicators{
    position: relative;
    margin: 0;
}


/*  */
.scroll-toggle {
    align-items: center;
    background-color: var(--light);
    border: 2px solid var(--dark);
    display: flex;
    max-width: 100%;
    justify-content: center;
    width: 100%;
  }
  
  .scroll-toggle__button {
    appearance: none;
    border: 2px solid var(--dark);
    flex: 0 0 100px;
    margin: 10px;
    padding: 10px;
    position: relative;
    transition: all 0.1s ease;
  }
  
  .scroll-toggle__button:active,
  .scroll-toggle__button:hover {
    background-color: var(--highlight);
  }
  
  .scroll-toggle__button:focus {
    outline: 2px solid var(--highlight);
  }
  
  .scroll-toggle__list {
    border-left: 2px solid var(--dark);
    border-right: 2px solid var(--dark);
    display: flex;
    flex: 1 1 auto;
    overflow-x: scroll;
  }
  
  .scroll-toggle__list-item {
    flex: 0 0 200px;
    padding: 10px;
  }

#building-top{
    padding-bottom: 100px;
    position: relative;
}
#building-top .title-section{
    padding-bottom: 40px;
}

#building-top .box-control{
    position: relative;
    display: flex;
    gap: 17px;
    margin-top: 20px;
    justify-content: flex-end;
    align-items: center;
}
#building-top .box-control [class*="swiper-button-"]{
    position: relative;
    top: unset;
    left: unset;
    bottom: unset;
    right: unset;
    opacity: 1;
    background: unset;
    margin: 0;
    width: max-content;
    height: max-content;
}
#building-top .box-control [class*="swiper-button-"]:hover svg rect,
#building-top .box-control [class*="swiper-button-"]:hover svg path{
    stroke: var(--color-main);
}
#building-top .box-control [class*="swiper-button-"].swiper-button-disabled{
    opacity: .35;
}
#building-top .swiper-slide{
    position: relative;
    display: block;
}
#building-top .swiper-slide::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(46, 47, 42, 0) 97.46%);

}
#building-top .swiper-slide .name-item{
    position: absolute;
    bottom: 30px;
    left: 30px;
    right: 30px;
    font-size: 20px;
    line-height: calc(28 / 20);
    font-weight: 500;
    color: #EFE4DE;
    z-index: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}


.swiper-container-horizontal>.swiper-scrollbar{
    height: 4px !important;
    width: 100% !important;
    bottom: 0 !important;
    left: 0 !important;
    transform: unset !important;
    position: relative !important;
    background: #D9D9D933 !important;
    transition: all .4s !important;
    margin-top: 40px;
}
.swiper-container-horizontal:hover .swiper-scrollbar{
    height: 8px!important;
}

.swiper-container .swiper-scrollbar-drag{
    background-color: var(--color-main);
    width: 25% !important;
    cursor: pointer;
}

/* custommer */
#custommer{
    padding-bottom: 100px;
}
#custommer .title-section{
    padding-bottom: 60px;
}
#custommer .wrap-customer{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 103px;
}

#custommer .wrap-customer .item{
    margin-bottom: 35px;
    min-width: max-content;
}
#custommer .wrap-customer .item img{
    height: 48px;
}

/*  */
#slider-product{
    padding: 70px 0 40px;
}

#slider-product .box-title{
    margin-bottom: 40px;
}
.item-product{
    width: 100%;
    max-width: 312px;
}
#slider-product .owl-carousel .item{
    width: 312px;
}


.wrap-slider-component{
    margin: 0 0 0 auto;
    width: 100%;
    max-width: calc(100% - ((100% - 1344px) / 2) - 24px);
    padding-bottom: 70px;
}
#slider-product .owl-theme{
    position: unset;
    padding-bottom: 40px;
}
#slider-product .owl-theme .owl-dots{
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 40px;
}
.owl-theme .owl-dots{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.owl-theme .owl-dots .owl-dot span{
    width: 11px;
    height: 11px;
    margin: 0;
    background: #AB652066;
}
.owl-theme .owl-dots .owl-dot.active span{
    background-color: var(--color-main);
}
/* about-us */
#about-us{
    background-color: #262723;
    position: relative;
}
#about-us .box-content{
    position: relative;
    z-index: 1;
    padding: 76px 18% 111px 0;
}
#about-us .bg-about{
    position: absolute;
    right: 0;
    top: 0;
    max-width: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#about-us .bg-about img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#about-us .box-content .title-section{
    padding-bottom: 60px;
}
#about-us .box-content .content{
    color: #EFE4DE;
    font-size: 16px;
    line-height: calc(25 / 16);
}
#about-us .box-content .content p{
    margin-bottom: 30px;
}
#about-us .img-chu-ky{
    width: auto;
    max-width: 100%;
    padding: 38px 0 41px;
}

#about-us .autho{
    font-size: 13px;
    font-weight: 700;
    line-height: calc(25 / 13);
    text-transform: uppercase;
    color: #EFE4DE;
}
#about-us .img-child-about{
    height: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-bottom: 63px;
}
#about-us .img-child-about img{
    width: max-content;
}

/* custommer-about */
#custommer-about{
    padding: 96px 0 100px;
}
#custommer-about .title-section{
    padding-bottom: 60px;
    line-height: 1.2;
}
#custommer-about .item{
    display: flex;
    gap: 24px;
}
#custommer-about:not(.about) .item .box-image{
    width: 100%;
    flex: 0 0 200px;
    max-width: 200px;
    border-radius: 100%;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
#custommer-about.about .item .box-image{
    width: 100%;
}
#custommer-about.about .item .box-image{}
#custommer-about .item .box-content .list-rate{
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 24px;
}
#custommer-about .item .box-content .content{
    font-size: 20px;
    font-weight: 500;
    line-height: calc(26 / 20);
    letter-spacing: -0.02em;
    color: #2E2F2A;
}
#custommer-about .item .name{
    font-size: 18px;
    font-weight: 600;
    line-height: calc(28 / 18);
    color: #2E2F2A;
    margin-top: 22px;
}
#custommer-about .item .cate{
    font-size: 16px;
    margin-top: 4px;
}
#custommer-about .owl-theme .owl-nav{
    margin-top: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#custommer-about.about .owl-theme .owl-nav{
    margin-top: 40px;
}
#custommer-about .owl-theme .owl-nav [class*=owl-]{
    margin: 0;
}
#custommer-about .owl-theme .owl-nav [class*=owl-]:hover{
    background-color: transparent;
}
#custommer-about .owl-nav svg rect,
#custommer-about .owl-nav svg path{
    stroke: #2E2F2A;
}
#custommer-about .owl-theme .owl-nav [class*=owl-]:not(.disabled):hover svg rect,
#custommer-about .owl-theme .owl-nav [class*=owl-]:not(.disabled):hover svg path{
    stroke: var(--color-main);
}
#custommer-about .owl-dots{
    margin-top: -28px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}


/* custommer.section-or */

#custommer.section-or{
    padding-bottom: 45px;
}
#custommer.section-or .title-section{
    line-height: 1.2;
}
#custommer.section-or .wrap-customer{
    column-gap: unset;
    justify-content: space-between;
}
#custommer.section-or .wrap-customer .item{
    max-width: 199px;
}

/* why-choose */
#why-choose{
    padding-block: 100px;
}
#why-choose .title-section{
    padding-bottom: 40px;
}
.box-video-action{
    position: relative;
    cursor: pointer;
}
.box-video-action .icon-play{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)!important;
    width: auto;
    height: auto;
}
.box-video-action:hover img.thumbnail-video{
    transform: scale(1)!important;
}
.list-why{
    margin-bottom: 40px;
}
.list-why .item{
    display: flex;
    align-items: center;
}
.list-why .item .box-image{
    width: 112px;
    min-width: 112px;
    border-radius: 100%;
    margin-right: 27px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.list-why .item .box-content .title{
    font-size: 16px;
    line-height: calc(27 / 16);
    letter-spacing: -.2px;
    font-weight: 600;
    color: var(--color-main);
}
.list-why .item .box-content p{
    font-size: 14px;
    line-height: calc(20 / 14);
    letter-spacing: -.2px;
    font-weight: 400;
    color: #101010;
}
.modal-video .modal-dialog {
    max-width: 990px;
    width: 100%;
    padding: 0 15px;
}
.modal-video .modal-content {
    background-color: transparent;
    border: none;
}
.modal-video .modal-content .close {
    opacity: 1;
    text-shadow: none;
    color: #FFF;
    text-align: right;
    background: transparent;
    border: none;
    font-size: 20px;
}
.box-list-rate{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.box-list-rate .item{
    max-width: calc(100% / 6);
    color: #EFE4DE;
}
.box-list-rate.color-red .item{
    color: var(--color-main);
}
.box-list-rate .item .number{
    font-size: 42px;
    font-weight: 600;
    line-height: calc(40 / 42);
    position: relative;
    display: inline-flex;
}
.box-list-rate .item .number span{
    font-size: 16px;
    position: absolute;
    right: -9px;
}
.box-list-rate .item p{
    font-size: 16px;
    font-weight: 600;
    line-height: calc(27 / 16);
    letter-spacing: -0.02em;
    display: block;
}

#why-choose .box-list-rate{
    margin-top: 40px;
}


/* showroom */
#showroom{
    padding-bottom: 100px;
}
#showroom .box-title{
    padding-bottom: 60px;
}
#showroom .owl-theme .owl-dots .owl-dot span{
    background-color: #656663;
}
#showroom .owl-theme .owl-dots{
    margin-top: 40px;
}
#showroom .owl-theme .owl-dots .owl-dot.active span{
    background-color: var(--color-main);
}
#showroom .box-text-showroom{
    width: 100%;
    max-width: 924px;
    margin: 0 auto;
    color: #101010;
    font-size: 26px;
    font-weight: 400;
    line-height: calc(43 / 26);
    text-align: center;
    margin-top: 40px;
}
#showroom .owl-theme .box-image{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#showroom.bg-dark .box-text-showroom{
    color: #EFE4DE;
}
#showroom .box-text-showroom img{
    margin-top: 40px;
}

#register{
    background-color: #262723;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}
#register .form-main{
    flex: 0 0 calc(50% + 20px);
    max-width: calc(50% + 20px);
    padding-left: calc((100% - 1320px) / 2);
    padding-right: 40px;
    position: relative;
    z-index: 1;
}
#register .form-main .title{
    font-size: 32px;
    font-weight: 600;
    line-height: calc(44 / 32);
    color: #EFE4DE;
    margin-bottom: 60px;
}
#register .form-main .form-group{
    position: relative;
    display: flex;
    width: 100%;
    max-width: 536px;
}
#register .form-main .form-group .form-control::placeholder{
    color: #909090;
}
#register .form-main .form-group .form-control{
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #FFFAF3;
    padding-left: 0;
    background-color: transparent;
    font-size: 14px;
    height: 33px;
    padding-right: 40px;
    padding-top: 0;
    padding-bottom: 10px;
    color: #EFE4DE;
}
#register .form-main .form-group .btn{
    border: none;
    background-color: transparent;
    height: 33px;
    padding: 0 3px;
    position: absolute;
    right: 0;
    padding-bottom: 10px;
}
#register .box-image{
    flex: 0 0 calc(50% - 20px);
    max-width: calc(50% - 20px);
    position: relative;
    z-index: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#register .box-image:hover img{
    transform: unset;
}
#register .box-image-bg{
    position: absolute;
    bottom: -58px;
    left: 50%;
    transform: translateX(-50%);
}

footer#footer{
    background-color: #262723;
    padding-top: 100px;
    color: #FFF;
}
footer#footer .footer-main{
    padding-bottom: 80px;
    border-bottom: 1px solid #FFFFFF33;
}
footer#footer .container{
    display: flex;
    justify-content: space-between;
}
footer#footer .logo{
    min-width: 88px;
    margin-right: 80px;
}
footer#footer .box-address{
    flex: 0 0 calc((453 / 1320) * 100%);
    max-width: calc((453 / 1320) * 100%);
    padding-right: 17px;
    font-size: 15px;
    font-weight: 700;
    line-height: calc(26 / 15);
    letter-spacing: -0.10000000149011612px;
}
footer#footer .box-address .name-company{
    text-transform: uppercase;
}
footer#footer .box-address a{
    color: #FFF;
}
footer#footer .box-address .list-social-footer{
    display: flex;
    align-items: center;
    gap: 23px;
    margin-top: 27px;
}

footer#footer .list-menu-footer .title{
    font-size: 16px;
    font-weight: 600;
    line-height: calc(26 / 16);
    letter-spacing: -0.10000000149011612px;
    margin-bottom: 20px;
}
footer#footer .list-menu-footer .list li a{
    font-size: 16px;
    font-weight: 400;
    line-height: calc(40 /16);
    letter-spacing: -0.20000000298023224px;
    color: #FFF;
    transition: all .3s;
}
footer#footer .list-menu-footer .list li a:hover{
    color: var(--color-main);
}
footer#footer .footer-fixed .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #909090;
    font-size: 14px;
    font-weight: 400;
    line-height: calc(26 / 14);
    letter-spacing: -0.10000000149011612px;
    padding-top: 10px;
    padding-bottom: 16px;
}
footer#footer .footer-fixed .list{
    display: flex;
    align-items: center;
}
footer#footer .footer-fixed .list a{
    line-height: 1.2;
    color: #909090;
    border-right: 1px solid #909090;
    padding-inline: 20px;
    transition: all .3s;
}
footer#footer .footer-fixed .list a:hover{
    color: var(--color-main);
}
footer#footer .footer-fixed .list li:last-child a{
    padding-right: 0;
    border-right: none;
}


/*  */
.item-product .box-image{
    position: relative;
    overflow: hidden;
    background-color: #FFF;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 45px;
}
.item-product .box-image .img-product{
    width: 100%;
    max-width: 222px;
    height: auto;
}
.item-product .box-image .box-hover{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
    font-size: 14px;
    font-weight: 400;
    line-height: calc(15 / 14);
    z-index: 1;
    text-align: center;
    color: #FFF;
}
.item-product .box-image::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2B2B2B9E;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
    z-index: 1;
}
.item-product .box-image .box-hover img{
    width: max-content;
    display: block;
    margin: 0 auto 14px;
    transform: unset!important;
}
.item-product:hover .box-image::before,
.item-product:hover .box-image .box-hover{
    opacity: 1;
    visibility: visible;
}
.item-product .box-image .box-image-child{
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.item-product .box-content{
    padding-top: 20px;
}
.item-product .box-content .title{display: block;}
.item-product .box-content .name{
    font-size: 16px;
    font-weight: 500;
    line-height: calc(25 / 16);
    color: #101010;
    transition: all .3s;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.item-product .box-content .name:hover{
    color: var(--color-main);
}
.item-product .box-content .code-product{
    font-size: 14px;
    font-weight: 500;
    line-height: calc(25 / 14);
    color: #101010;
    margin-top: -4px;
}
.item-product .box-content .price{
    font-size: 14px;
    font-weight: 400;
    line-height: calc(15 / 14);
    color: var(--color-main);
    margin-top: 4px;
}



/* banner-main */
#banner-main{
    position: relative;
}
#banner-main::before{
    content: "";
    background: linear-gradient(360deg, rgba(16, 8, 6, 0.9) -5.33%, rgba(0, 0, 0, 0) 177.48%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .23;
}
#banner-main .bg-banner{
    width: 100%;
    min-height: 114px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#banner-main .content-banner{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
#banner-main .content-banner .title-banner{
    font-size: 30px;
    font-weight: 700;
    line-height: 1;
    color: #FFFAF3;
    text-transform: uppercase;

}
.breadcrumb{
    display: inline-flex;
    background: transparent;
    color: #FFF;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 10px;
}
.breadcrumb .breadcrumb-item{
    color: #FFF;
    display: flex;
    align-items: center;
}
.breadcrumb .breadcrumb-item+.breadcrumb-item::before{
    color: #FFF;
    content: "\f105";
    font-family: "Font Awesome 5 Pro";
    line-height: 1;
    display: block;
    margin-top: 2px;
}
.breadcrumb .breadcrumb-item *{
    color: #FFFAF3;
    font-size: 14px;
    line-height: calc(20 / 14);
    font-weight: 400;
}
/*banner-product  */

#banner-product{
    padding-block: 100px;
}
#banner-product .box-content{
    padding-right: 20px;
    width: 100%;
    max-width: 536px;
    margin-bottom: 20px;
}
#banner-product .box-content .content{
    font-size: 16px;
    font-weight: 400;
    line-height: calc(27 / 16);
    color: #101010;
    margin-top: 10px;
    letter-spacing: -0.02em;
}
#banner-product .box-content-banner .box-image.resize-banner-product-1{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* product-list */
#product-list .list-product [class*="col-"]{
    margin-bottom: 40px;
    height: 100%;
}

.load-more{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    color: #7E7E7E;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
    line-height: 2;
    letter-spacing: -.6px;
    padding-top: 20px;
}
.box-content-banner-2 .title-section{
    margin-bottom: 40px;
}
.box-content-banner-2 .box-image{
    margin-bottom: 40px;
}
#banner-product .box-content-banner-2 .box-content{
    width: 100%;
    max-width: 788px;
    margin: 0 auto;
    text-align: center;
    padding: 0;
}

/* .box-content-banner-2 .slider-product-type{
    width: 100%;
    max-width: 424px;
    margin: 0 auto;
}
.box-content-banner-2 .slider-product-type .box-image{
    margin-bottom: 0;
    transition: all .3s;
    height: calc(100% + 50px);
}
.box-content-banner-2 .wrap-slider-type-product{
    overflow: hidden;
}
.box-content-banner-2 .wrap-slider-type-product .owl-carousel .owl-stage-outer{
    overflow: visible;
}
.box-content-banner-2 .wrap-slider-type-product .owl-carousel .owl-stage-outer .owl-stage{
    display: flex;
    align-items: center;
}
.box-content-banner-2 .slider-product-type .active .box-image{
    height: calc(100% + 50px) !important;
} */






.slick .item .bg{
	height:538px;
	background-position:center;
	background-size:cover;
	transition:.3s;
	margin:0 -24px;
	-webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.7, 0.7, 1);
	transition: all 0.3s ease-in-out;
}
.slick .slick-list {
	padding: 20px 0!important;
}

.slick .slick-center .bg {
    -webkit-transform: scale3d(1.0, 1.0, 1);
    transform: scale3d(1.0, 1.0, 1);
}
.slick-slide {
    outline: none
}

.slick-prev,
.slick-next {
	position:absolute;
	top:50%;
	 z-index: 1;
}
.slick-prev {
    left: 100px;
}
.slick-next {
    right: 100px;
}

.slick-dots{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 33px;
}

.slick-dots li button{display: none;}
.slick-dots li{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #AB652066;
    
}
.slick-dots li.slick-active{
    background-color: var(--color-main);
}

.slick-arrow{
    background-color: transparent;
    border: none;
}
.wrap-slider-type-product{
    margin-inline: -50px;
}
.slick-arrow svg path,
.slick-arrow svg rect{
    stroke: #2E2F2A;
}
.slick-arrow.slick-prev{
    left: -50px;
}
.slick-arrow.slick-next{
    right: -50px;
}




.box-content-banner-2 .wrap-table .table{
    table-layout: fixed;
}
.box-content-banner-2 .wrap-table .table .size-1{
    width: 206px;
}
.box-content-banner-2 .wrap-table .table .size-2{
    margin-top: 10px;
    width: 166px;
}
.box-content-banner-2 .wrap-table .table .size-3{
    width: 138px;
    margin-top: 15px;
}
.box-content-banner-2 .wrap-table th{
    background-color: rgb(171 101 32 / 10%);
    border-bottom: 5px solid #AB6520;
    padding: 16px;
    font-size: 16px;
    font-weight: 600;
    line-height: calc(27 / 16);
    letter-spacing: -0.02em;
    color: #AB6520;
    text-transform: uppercase;
}
.box-content-banner-2 .wrap-table td{
    padding: 15px;
    font-size: 16px;
    font-weight: 400;
    line-height: calc(27 / 16);
    letter-spacing: -0.02em;
    color: #101010;
    border-color: #2E2F2A;
}
.box-content-banner-2 .wrap-table tr td:first-child{
    font-weight: 700;
}

.list-product-item,
.showroom-page{
    padding-top: 100px
}

#news{
    padding: 40px 0 115px;
}
#news .nav-tabs{
    border: none;
    gap: 30px;
    padding-bottom: 72px;
    flex-wrap: nowrap;
    overflow-x: scroll;
}
#news .nav-tabs::-webkit-scrollbar {
    height: 10px;
  }
  
  /* Track */
#news .nav-tabs::-webkit-scrollbar-track {
    background: transparent; 
}
   
  /* Handle */
#news .nav-tabs::-webkit-scrollbar-thumb {
    background: transparent; 
}
#news .nav-tabs .nav-item{
    background-color: transparent;
    min-width: max-content;
}
#news .nav-tabs .nav-item .nav-link{
    border: none;
    background-color: transparent;
    border-bottom: 2px solid transparent;
    transition: all .3s;
    color: #101010;
    padding: 0 0 12px;
    font-size: 16px;
    line-height: calc(24 / 16);
    font-weight: 600;
}
#news .nav-tabs .nav-item .nav-link:hover,
#news .nav-tabs .nav-item .nav-link.active{
    border-color: var(--color-main);
    color: var(--color-main);
}

#news .list [class*="col"]{
    margin-bottom: 40px;
}

.item-new{
    position: relative;
}
.item-new .box-image{
    display: block;
    border-radius: 4px;
}
.item-new .box-content{
    padding-top: 30px;
}
.item-new .box-content .date{
    font-size: 12px;
    font-weight: 400;
    line-height: calc(21.66 / 12);
    color: #6f6f6f
}
.item-new .box-content .title{
    color: #101010;
    font-size: 20px;
    font-weight: 600;
    line-height: calc(30.33 / 20);
    margin-bottom: 10px;
    transition: all .3s;
}
.item-new .box-content .title:hover{
    color: var(--color-main);
}
.item-new .box-content .des{
    font-size: 14px;
    font-weight: 400;
    line-height: calc(21.09 / 14);
    color: #303030;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    margin-bottom: 20px; 
}
.item-new .box-content .link-more{
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #101010;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 12px;
    transition: all .3s;
}
.item-new .box-content .link-more svg{
    margin-top: -3px;
}
.item-new .box-content .link-more:hover{
    color: var(--color-main);
}
.item-new .box-content .link-more:hover svg path{
    stroke: var(--color-main);
}

#news .wrap-pagination{
    padding-top: 60px;
}
.wrap-pagination{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.wrap-pagination .item-control{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: all .3s;
}
.wrap-pagination .item-control .item{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrap-pagination .item-control .item:hover svg path{
    fill: var(--color-main);
}
.wrap-pagination .pagination{
    gap: 2px;
}
.wrap-pagination .pagination .page-item{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
    line-height: calc(20 / 14);
}
.wrap-pagination .pagination .page-item .page-link{
    width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
    line-height: calc(20 / 14);
    border-radius: 100%;
    background-color: transparent;
    color: #101010;
    border: none;
    transition: all .3s;
}

.wrap-pagination .pagination .page-item .page-link:hover,
.wrap-pagination .pagination .page-item .page-link.active{
    color: var(--color-main);
    background-color: #FFF;
}

.list-new-author .title-section{
    margin-bottom: 60px;
}

#breadcrum-author{
    padding-top: 46px;
    margin-bottom: 60px;
}
#breadcrum-author .breadcrumb-item,
#breadcrum-author .breadcrumb-item::before,
#breadcrum-author .breadcrumb-item *{
    color: #101010;
}

#breadcrum-author .breadcrumb-item a:hover{
    color: var(--color-main);
}

/* info-author */
#info-author{
    padding-bottom: 60px;
}
#info-author .box-author{
    background-color: #f9f9f9;
}
#info-author .box-author{
    padding: 40px 30px;
    display: flex;
}
#info-author .box-author .content-main{
    display: flex;
}
#info-author .box-author .content-main .box-image{
    width: 260px;
    height: 260px;
    min-width: 260px;
    border-radius: 100%;
    margin-right: 45px;
}

#info-author .content-main .content-author{
    padding-right: 9%;
}
#info-author .content-main .content-author .name{
    font-size: 32px;
    font-weight: 600;
    line-height: calc(40 / 30);
    letter-spacing: -0.02em;
    color: #101010;
    margin-bottom: 10px;
    padding-top: 12px;
}
#info-author .content-main .content-author .list-social-author{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}
#info-author .content-main .content-author .list-social-author li:hover svg path{
    fill: var(--color-main);
}
#info-author .content-main .content-author .des-author{
    font-size: 16px;
    font-weight: 400;
    line-height: calc(27 / 16);
    letter-spacing: -0.02em;
    color: #101010;
}
#info-author .infor-new{
    margin-block: 10px;
    border-left: 1px solid #B7B7B7;
    padding-left: 25px;
    padding-right: 8%;
    display: flex;
    flex-direction: column;
    gap: 14px;
}
#info-author .infor-new .item{
    min-width: max-content;
}

#info-author .infor-new .item .number{
    color: var(--color-main);
    font-size: 32px;
    font-weight: 600;
    line-height: calc(30 / 32);
    letter-spacing: -0.02em;
}
#info-author .infor-new .item span{
    display: block;
    color: #909090;
    font-size: 18px;
    font-weight: 400;
    line-height: calc(30 / 18);
    letter-spacing: -0.02em;
}


/* contact */
#contact{
    background-color: #2E2F2A;
    display: flex;
}
#contact .wrap-form-contact{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 45px 20px 125px calc((100% - 1320px) / 2);
}
#contact .wrap-form-contact .wrap-contact{
    width: 100%;
    max-width: 536px;
}
#contact .wrap-form-contact .wrap-contact .text-form{
    font-size: 32px;
    font-weight: 600;
    line-height: calc(40 / 32);
    margin-top: 20px;
    margin-bottom: 100px;
    color: #EFE4DE;
}
#contact .wrap-form-contact .wrap-contact .form-group{
    width: 100%;
    margin-bottom: 40px;
}
#contact .wrap-form-contact .wrap-contact .form-group label{
font-size: 16px;
font-weight: 500;
line-height: calc(17.41 / 16);
color: #EFE4DE;
display: block;
}
#contact .wrap-form-contact .wrap-contact .form-group .form-control{
    width: 100%;
    background-color: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #FFFAF3;
    color: #EFE4DE;
    min-height: 34px;
    padding-left: 0;
    padding-bottom: 9px;
    font-weight: 300;
}
#contact .wrap-form-contact .wrap-contact .form-group .form-control::placeholder{
    color: #909090;
}
#contact .wrap-form-contact .wrap-contact .btn-submit{
    border: 1px solid #EFE4DE;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    line-height: calc(25 / 14);
    color: #FFFAF3;
    width: 100%;
    text-transform: uppercase;
    margin-top: 12px;
    height: 45px;
    transition: all .3s;
}
#contact .wrap-form-contact .wrap-contact .btn-submit:hover{
    border-color: var(--color-main);
    color: var(--color-main);
}
#contact .maps{
    flex: 0 0 50%;
    max-width: 50%;
}


.showroom-page .container{
    position: relative;
}
.showroom-page .box-bg-item{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}
.showroom-page .box-image{
    position: relative;
    z-index: 2;
}
.showroom-page .title-section{
    line-height: 1.2;
    text-transform: unset;
    margin-bottom: 150px;
    position: relative;
    z-index: 2;
}
.showroom-page .list-bimary{
    margin-top: 135px ;
}
.showroom-page .list-bimary [class*="col"]{
    margin-bottom: 24px;
}

.showroom-page .load-more{
    color: #FFF;
}
#banner-about{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 613px;
}
#banner-about .bg-banner-about{
    width: 100%;
    max-height: 638px;
}
/* #banner-about .wrap-content-banner::before{
    content: "";
    background: linear-gradient(0deg, rgba(46, 47, 42, 0.59), rgba(46, 47, 42, 0.59));
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} */
#banner-about .wrap-content-banner{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#banner-about .wrap-content-banner .container{
    text-align: center;
    color: #EFE4DE;
}
#banner-about .wrap-content-banner .img-logo{
    margin-bottom: 60px;
}
#banner-about .wrap-content-banner .text{
    font-size: 14px;
    font-weight: 600;
    line-height: calc(18 / 14);
    margin-bottom: 12px;
    text-transform: uppercase;
}
#banner-about .wrap-content-banner .title-banner{
    font-size: 32px;
    font-weight: 600;
    line-height: calc(35.5 / 32);
    margin-bottom: 52px;
}
#banner-about .wrap-content-banner .btn{
    border: 1px solid #EFE4DE;
    width: 200px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    height: 45px;
    color: #EFE4DE;
    margin: 0 auto;
    transition: all .3s;
}
#banner-about .wrap-content-banner .btn:hover{
    color: var(--color-main);
    border-color: var(--color-main);
}
.banner-showroom-about{
    padding-top: 100px;
}

#content-about-main{
    overflow: hidden;
    padding-top: 100px;
}
#content-about-main *:not(div, .title-section){
    font-size: 16px;
    line-height: calc(27 / 16);
    font-family: Archivo;
    letter-spacing: -0.02em;

}
#content-about-main .title-section.main{
    line-height: 1.22;
    margin-bottom: 75px;
    text-transform: unset;
    font-size: 40px;
}
#content-about-main .thumbnail-banner{
    padding-left: 50px;
}
#content-about-main .content-top{
    padding-bottom: 70px;
}
#content-about-main .content-top .item-left{
    padding-right: 65px;
}
#content-about-main .item-right{
    padding-left: 65px;
    color: #EFE4DE;
}
#content-about-main .content-top .item-right .item-content{
    margin-bottom: 30px;
}
#content-about-main .content-top .item-right .box-image{
    margin-bottom: 30px;
}
#content-about-main .content-top .item-right ul{
    margin-top: 10px;
}
#content-about-main .content-top .item-right ul li{
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 7px;
}
#content-about-main .content-top .item-right ul li img{
    margin-top: 7px;
}
#content-about-main .content-last{
    display: flex;
}
#content-about-main .content-last .item-left{
    color: #EFE4DE;
    padding-right: 7%;
}

#content-about-main .content-last .item-left .box-title{
    align-items: flex-start;
    gap: 30px;
    margin-bottom: 60px;
}
#content-about-main .content-last .item-right .box-image{
    width: max-content;
}
#content-about-main .content-last .item-right .box-image img{
    width:max-content;
}
/* #content-about-main .content-last .item-right{
    flex: 0 0 calc((678 / 1600) * 100%);
    max-width: calc((678 / 1600) * 100%);
} */

#wrap-detail-thumbnail{
    padding-block: 100px;
}
#wrap-detail-thumbnail .wrap-slider-top-detail{
    margin-bottom: 80px;
}
#wrap-detail-thumbnail .wrap-slider-top-detail{}
#wrap-detail-thumbnail .wrap-slider-detail{
    display: flex;
    padding-right: 96px;
    gap: 24px;
    margin-bottom: 20px;
}
/* #wrap-detail-thumbnail .wrap-slider-detail .slider-control{
    flex: 0 0 200px;
    max-width: 200px;
}
#wrap-detail-thumbnail .wrap-slider-detail .slider-control .swiper-wrapper{
    flex-direction: column;
    gap: 10px;
}
#wrap-detail-thumbnail .wrap-slider-detail .swiper-wrapper .swiper-slide{
    width: 100%!important;
    cursor: pointer;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
    border-radius: 4PX;
}
#wrap-detail-thumbnail .wrap-slider-detail .swiper-wrapper .swiper-slide img{
    width: auto;
    height: auto;
    max-width: calc(100% - 20px);
} */
#wrap-detail-thumbnail .box-detail-thumbnail{
    margin-bottom: 20px;
}
#wrap-detail-thumbnail .box-detail-thumbnail .name-product{
    font-size: 24px;
    font-weight: 600;
    line-height: calc(32 / 24);
    color: var(--color-main);
    margin-bottom: 20px;
}

#wrap-detail-thumbnail .box-detail-thumbnail .box-price{
    font-size: 20px;
    font-weight: 600;
    line-height: calc(32 / 20);
    color: #2E2F2A;
    margin-bottom: 10px;
}
#wrap-detail-thumbnail .box-detail-thumbnail .box-rate{
    display: flex;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: -0.02em;
    align-items: center;
    gap: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #4B4B4B66;
    margin-bottom: 40px;
}
#wrap-detail-thumbnail .box-detail-thumbnail .box-rate ul{
    display: flex;
    align-items: center;
    gap: 4px;
}
#wrap-detail-thumbnail .box-detail-thumbnail .code-product{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
#wrap-detail-thumbnail .box-detail-thumbnail .code-product span{
    color: #101010;
    font-size: 16px;
    font-weight: 600;
    line-height: calc(23 /16);
    letter-spacing: -0.02em;
    
}
#wrap-detail-thumbnail .box-detail-thumbnail .code-product span:first-child{
    min-width: 75px;
    font-weight: 400;
}


.number-product-chossee{
    display: flex;
    align-items: center;
    padding: 30px 0 80px;
    justify-content: space-between;
    gap: 20px;
    min-width: max-content;
}
.number-product-chossee .box-number{
    border-radius: 4px;
    display: flex;
    align-items: center;
    color: #383838;
    gap: 10px;
}

.number-product-chossee .box-number input{
    border:none;
    width: 56px;
    height: 56px;
    border: 1px solid #101010;
    text-align: center;
    border-radius: 100%;
    background-color: transparent;
}
.number-product-chossee .box-number span{
    display: flex;
    align-items: center;
    height: 100%;
    width: 36px;
    font-size: 20px;
    justify-content: center;
    color: #101010;
    cursor: pointer;
    transition: all .3s;
}
.number-product-chossee .box-number span:not(.remove-minus):hover{
    color: var(--color-main);
}
.number-product-chossee .box-number span.remove-minus{
    cursor: not-allowed;
    opacity: .7;
}
.number-product-chossee .add-cart{
    font-size: 14px;
    line-height: calc(18 / 14);
    color: #EFE4DE;
    display: flex;
    align-items: center;
    height: 56px;
    padding-left: 15px;
    padding-right: 15px;
    background: var(--color-main);
    width: 100%;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    transition: all .3s;
    padding-top: 3px;
}
.number-product-chossee .add-cart:hover{
    background-color: #7d4711;
}

.box-short-now .item{
    display: flex;
    align-items: center;
    gap:  24px;
    margin-bottom: 10px;
}
.box-short-now .box-text{
    color: var(--color-main);

}
.box-short-now .box-text p{
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: -0.02em;
    color: var(--color-main);
}
.box-short-now .box-text .font-bold{
    font-size: 20px;
    font-weight: 600;
    line-height: calc(32 / 20);
    letter-spacing: -0.02em;
    color: var(--color-main);
}

#wrap-detail-thumbnail .box-title-des{
    width: 100%;
    max-width: 761px;
    margin-bottom: 20px;
}
#wrap-detail-thumbnail .box-title-des .title-section{
    padding-bottom: 20px;
    border-bottom: 1px solid #4B4B4B66;
    margin-bottom: 40px;
}

.wrap-content-detail-product{
    display: flex;
    gap: 20px;
}
.wrap-content-detail-product .left{
    flex: 0 0 calc((430 / 1320) * 100%);
    max-width: calc((430 / 1320) * 100%);
    min-width: 300px;
}
.wrap-content-detail-product .right{
    flex: 0 0 calc((890 / 1320) * 100%);
    max-width: calc((890 / 1320) * 100%);
}

.wrap-content-detail-product .title{
    font-size: 16px;
    font-weight: 600;
    line-height: calc(27 / 16);
    letter-spacing: -0.02em;
    color: var(--color-main);
    margin-bottom: 10px;
}
.wrap-content-detail-product .title-child{
    color: #101010;
    font-size: 16px;
    font-weight: 600;
    line-height: calc(27 / 16);
    letter-spacing: -0.02em;
}
.wrap-content-detail-product .list{
    color: #101010;
    font-size: 16px;
    font-weight: 600;
    line-height: calc(27 / 16);
    letter-spacing: -0.02em;
    margin-bottom: 10px;
    list-style: disc;
    padding-left: 20px;
}
#wrap-detail-thumbnail .box-video-action{
    margin-top: 100px;
}
#wrap-detail-thumbnail .box-video-action.box-image{
    display: flex;
    align-items: center;
    justify-content: center;
}
#wrap-detail-thumbnail .box-video-action.box-image img{
    width: auto;
    height: auto;
}
#building-project{
    padding-block: 100px;
}
#building-project .title-section{
    margin-bottom: 40px;
}
#building-project .box-grilary{
    display: flex;
    gap: 19px;
}
#building-project .box-grilary .item-big{
    flex: 0 0 calc((630.69 / 1320) * 100%);
    max-width: calc((630.69 / 1320) * 100%);
}
#building-project .box-grilary .item-box{
    flex: 0 0 calc((324.95 / 1320) * 100%);
    max-width: calc((324.95 / 1320) * 100%);
    display: flex;
    flex-direction: column;
    gap: 19px;
}

#slider-grimary-mobile{display: none;}


#product-samne-category{
    padding-bottom: 100px;
}
#product-samne-category .title-section{
    padding-bottom: 40px;
}
#product-samne-category .owl-carousel .owl-dots{
    margin-top: 40px;
}


/*  */
/*  */
/*  */

#wrap-new-detail{
    padding: 68px 0 100px;
}
#wrap-new-detail .container{
    display: flex;
    gap: 44px;
}
#wrap-new-detail .container .content-main-detail{
    flex: 0 0 calc((984 / 1320) * 100%);
    max-width: calc((984 / 1320) * 100%);
}
#wrap-new-detail .container .content-side-right{
    flex: 0 0 calc((292 / 1320) * 100%);
    max-width: calc((292 / 1320) * 100%);
}

#wrap-new-detail .container .content-side-right .title-section{
    font-size: 16px;
    line-height: calc(24 / 16);
    margin-bottom: 30px;
}
#wrap-new-detail .container .content-side-right .list-blog-new{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 40px;
    border-bottom: 1px solid #4B4B4B66;
    margin-bottom: 40px;
}
#wrap-new-detail .container .content-side-right .list-blog-new .item{
    display: flex;
    align-items: center;
    gap: 20px;
    flex: auto;
    width: 100%;
}
#wrap-new-detail .container .content-side-right .list-blog-new .item .box-image{
    width: 104px;
    min-width: 104px;
}
#wrap-new-detail .container .content-side-right .list-blog-new .item .content{
    font-size: 14px;
    font-weight: 400;
    line-height: calc(19 / 14);
    color: #101010;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    transition: all .3s;
}
#wrap-new-detail .container .content-side-right .list-blog-new .item:hover .content{
    color: var(--color-main);
}
.content-main-detail .back-link{
    transition: all .3s;
    margin-bottom: 16px;
}
.content-main-detail .back-link:hover svg path{
    fill: var(--color-main);
}
.content-main-detail .title-page-detail{
    font-size: 32px;
    font-weight: 600;
    line-height: calc(40 / 32);
    letter-spacing: -0.02em;
    margin-bottom: 9px;
    width: 100%;
    max-width: 90%;
}
.content-main-detail .box-author-new{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 40px;
}
.content-main-detail .box-author-new .box-image{
    width: 30px;
    height: 30px;
    border-radius: 100%;
}
.content-main-detail .box-author-new .box-content .name{
    font-size: 9.75px;
    font-weight: 600;
    line-height: 15.17px;
    color: var(--color-main);
}
.content-main-detail .box-author-new .box-content .date{
    font-size: 8.67px;
    font-weight: 400;
    line-height: 13px;
    color: #6f6f6f;
}
.content-main-detail .content-main{
    padding-bottom: 100px;
}
.content-main-detail .content-main .box-image{
    margin-bottom: 40px;
}
.content-main-detail .content-main *:not(#info-author *){
    font-size: 14px;
    font-weight: 400;
    line-height: calc(25 / 14);
    margin-bottom: 20px;
}
.content-main-detail .content-main h1,
.content-main-detail .content-main h2,
.content-main-detail .content-main h3,
.content-main-detail .content-main h4,
.content-main-detail .content-main h5,
.content-main-detail .content-main h6{
    font-weight: 600!important;
    color: #101010!important;
    padding: 0!important;
    margin: 0 0 20px 0!important;
}
.content-main-detail .content-main h1{
    font-size: 20px!important;
}
.content-main-detail .content-main h2{
    font-size: 18px!important;
}
.content-main-detail .content-main h3
.content-main-detail .content-main h4{
    font-size: 17px!important;
}
.content-main-detail .content-main h5
.content-main-detail .content-main h6{
    font-size: 16px!important;
}
.content-main-detail .info-autho{
    padding: 32px 0 60px;
    border-top: 1px solid #4B4B4B66;
    border-bottom: 1px solid #4B4B4B66;
}
.content-main-detail .info-autho .box-rate-social{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 52px;
}
.content-main-detail .info-autho .box-rate-social .rate-list{
    display: flex;
    align-content: center;
    gap: 20px;
}
.content-main-detail .info-autho .box-rate-social .rate-list ul{
    display: flex;
    align-content: center;
    gap: 6px;
}
.content-main-detail .info-autho .box-rate-social .rate-list ul li{
    line-height: 1;
}
.content-main-detail .info-autho .box-rate-social .rate-list ul img{
    width: 16px;
    height: 16px;
}
.content-main-detail .info-autho .box-rate-social .social{
    display: flex;
    align-items: center;
    gap: 12px;
}
.content-main-detail .info-autho .box-rate-social .social .item{
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    transition: all .3s;
    border: 1px solid #fff;
}
.content-main-detail .info-autho .box-rate-social .social .item.copy{
    padding-inline: 16px;
    gap: 8px;
}
.content-main-detail .info-autho .box-rate-social .social .item:hover{
    border-color: var(--color-main);
}


.content-main-detail #info-author{
    padding: 0;
}
.content-main-detail #info-author .box-author{
    padding: 0;
    background-color: transparent;
}
.content-main-detail #info-author .box-author .content-main{
    padding: 0;
    gap: 24px;
}
.content-main-detail #info-author .box-author .content-main .box-image{
    margin: 0;
    width: 197px;
    min-width: 197px;
    height: 197px;
}
.content-main-detail #info-author .box-author .content-main .box-image img{
    margin: 0;
}
.content-main-detail #info-author .box-author .content-main .content-author{
    padding: 0;
}
.content-main-detail #info-author .box-author .content-main .content-author .name{
    font-size: 32px;
    line-height: calc(40 / 32);
    padding-top: 0;
}
#new-same{
    padding-bottom: 100px;
}
#new-same .title-section{
    padding-bottom: 40px;
}

#new-same .list [class*="col"]{
    margin-bottom: 40px;
}




.box-catalog{
    background-color: var(--color-main);
    padding: 5px;
    text-align: center;
    width: 122px;
    height: auto;
    position: fixed;
    z-index: 99;
    right: 0;
    top: 140px;
    cursor: pointer;
}
.box-catalog .box-image{
    margin-bottom: 16px;
}
.box-catalog .content img{
    margin-bottom: 6px;
}
.box-catalog .content .text{
    font-size: 8px;
    font-weight: 500;
    line-height: 10px;
    color: #FFF;
    text-transform: uppercase;
    padding-bottom: 13px;
}

#building-top {
    margin-top: -1px;
}

.is-mobile{
    display: none;
}
.box-more{
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider-banner-product-mobile.is-mobile,
.box-more.is-mobile{
    display: none;
}

.bg-image-main,
#why-choose.bg-pink .box-image.resize-bg-why{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#news.wrap-detail-product-tab .nav-tabs{
    padding-bottom: 30px;
}
#news.wrap-detail-product-tab .nav-item .nav-link{
    font-size: 24px;
    line-height: calc(28 / 24);
}

/* search */
.form-modal-search{
    padding: 20px 20px 25px;
    background-color: var(--color-main);
    border-radius: 10px;
}
.form-modal-search label{
    font-weight: 700;
    color: #FFF;
    font-size: 22px;
    margin-bottom: 5px;
}
.form-modal-search .form-control{
    height: 48px;
    border-radius: 10px;
    border: none;
}
.modal-search-main .modal-dialog{
    max-width: 700px;
}
.modal-search-main .modal-content{
    background-color: transparent;
    margin-top: 40px;
}
.modal-search-main .close{
    position: absolute;
    top: -30px;
    right: 5px;
    background: transparent;
    border: none;
    color: #FFF;
    font-size: 22px;
}

/*  */
/*  */
/*  */
/*  */
.slider-component-main {
    padding: 0;
    color: #fff;
    width: 100%;
  }
  .slider-component-main .swiper-container {
    width: 100%;
    height: 100%;
  }
  .slider__flex {
    display: flex;
    align-items: flex-start;
  }
  .slider__col {
    display: flex;
    flex-direction: column;
    flex: 0 0 calc(200px);
    max-width: 200px;
    width: 200px;
    margin-right: 24px;
    min-width: 200px;
  }
  .slider__thumbs {
    height: 607px;
  }
  .slider__thumbs .slider__image {
    background-color: #FFF;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    transition: 0.25s;
    opacity: 0.7;
  }
  .slider__thumbs .slider__image:hover {
      opacity: 1;
    }
    .slider__thumbs .slider__image img {
        width: auto;
        max-width: 100%;
        height: auto;
    }
    .slider__thumbs .swiper-slide {
        aspect-ratio: 1 / 1;
    }
  .slider__thumbs .swiper-slide-thumb-active .slider__image {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    opacity: 1;
  }
  .slider__images {
      flex: 0 0 calc(100% - 224px);
      max-width: calc(100% - 224px);
      width: calc(100% - 224px);
      aspect-ratio: 536 / 607;
    }
    .slider__images .swiper-container{
        width: 100%;
    }
  .slider__images .slider__image{
    height: 100%;
    background-color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 20px;
  }
  .slider__images .slider__image img {
    width: auto;
    max-width: 100%;
    height: auto;
    transition: 3s;
  }
  .slider__images .slider__image:hover img {
      /* transform: scale(1.1); */
    }
    /* .slider__images .swiper-container-vertical>.swiper-wrapper{
        height: 100%;
    }
    .slider__images .swiper-container-vertical>.swiper-wrapper .swiper-slide{
        height: 100%!important;
    } */
  .slider__image {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    overflow: hidden;
  }
  .slider__image img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
  @media (max-width: 767.98px) {
    .slider__flex {
      flex-direction: column-reverse;
    }
    .slider__col {
      flex-direction: row;
      align-items: center;
      margin-right: 0;
      margin-top: 24px;
      width: 100%;
    }
    .slider__images {
      width: 100%;
    }
    .slider__thumbs {
      height: 100px;
      width: calc(100% - 96px);
      margin: 0 16px;
    }
    .slider__prev,
    .slider__next {
      height: auto;
      width: 32px;
    }
  }
/*  */
/*  */
/* modal evalue  */


#modalEvalua .close{
    position: absolute;
    top: -35px;
    right: 5px;
    background-color: transparent;
    border: none;
    color: #FFF;
}
#modalEvalua .modal-dialog {
    max-width: 600px;
    width: 100%;
}
#modalEvalua .modal-dialog .modal-content{ 
    background: #FFF;
}

#modalEvalua .modal-header{
    background: var(--color-main);
}
#modalEvalua .modal-title{
    color: #FFFFFF;
    font-size: 18px;
    font-family: var(--font-600);
}
#modalEvalua .modal-header button{
    font-size: 16px;
}
#modalEvalua .modal-body .form-control{
    margin-bottom: 10px;
    border-radius: 8px;
}
#modalEvalua .modal-body .box-form-vote{
    border:1px solid #ced4da;
    border-radius: 8px;
    padding:10px
}
#modalEvalua .modal-body .box-form-vote>p{
    font-size: 16px;
    font-family: var(--font-500);
    color: #383838;
}
#modalEvalua .modal-body .starrating{
    padding-top: 10px;
}
#modalEvalua .modal-body .starrating label{
    font-size: 12px;
    font-family: var(--font-300);
}


.starrating > div > input {display: none;}  /* Remove radio buttons */

.starrating > div > label:before { 
  content: "\f005"; 
  margin: 0.5px;
  font-size: 24px;
  font-family: "Font Awesome 5 Pro";
  display: inline-block; 
}

.starrating > div > label
{
  color: #000;
  cursor: pointer;
}

.starrating > div > input:checked ~ label:before
{
     color: #ffca08 ; 
}

.starrating > div > input:hover ~ label
{ 
    color: #ffca08 ;  
} 
#modalEvalua .modal-body .starrating label{
    flex: 0 0 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
}
#modalEvalua .modal-body .form-review .btn-submit{
    margin-top: 20px;
    width: 100%;
    border:none;
    background: var(--color-main);
    color: #FFF;
    border-radius: 8px;
    padding: 10px;
    text-transform: uppercase;
    font-size: 14px;
}
.wrap-header-main .logo img.logo-small{
    display: none;
}

.wrap-banner-right .owl-carousel .owl-nav button.owl-prev::before {
    left: 10px;
}
.wrap-banner-right .owl-carousel .owl-nav button.owl-next::before {
    right: 10px;
}




/* update 11/05/2024 */
#content-about-main .item-right>*{
    margin-bottom: 30px;
}